<form class="form-horizontal">
   <h3>folder</h3>

    <div class="panel-body">
     <html>

	    <form>
	      <button class="btn" data-bind="click:function(){$data.test();}">Test</button>
	    </form>
     </html>
    </div>
</form>
